Button {
    -fx-background-color: lightgrey;
    -fx-text-fill: white;
}
Button:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: grey;
}
Button:pressed {
    -fx-background-color: white;
    -fx-text-fill: darkgrey;
}

.power {
    -fx-background-color: rgb(224, 51, 79);
    -fx-background-image: url("power-icon.png");
    -fx-background-size: 50%;
    -fx-background-position: center, center;
    -fx-background-repeat: no-repeat;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 50px;
    -fx-max-width: 50px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-color: rgb(242, 109, 103);
    -fx-border-width: 5px;
}
.power:hover {
    -fx-border-color: rgb(224, 51, 79);
}
.power:pressed {
    -fx-border-color: white;
}